.form-connexion {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
    padding-top: 60px;


    .connexion-left {
        background-color: $color-orange-pastel;
        border-radius: 6px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .connexion-right {
        background-color: $color-base;
        border-radius: 6px;
        padding: 20px;

    }

    h1, h3 {
        padding-bottom: 40px;
    }

    input {
        border-radius: 5px;
        padding: 10px 15px;
        background-color: $color-base;
        border: $color-orange-pastel solid;
    }

    &__label {
        
        label {
            text-align: left;
            justify-content: left;
        }
        display: flex;
        border-radius: 5px;
        flex-direction: column;
        gap: 5px;
        padding: 5px;
    }

    button {
        padding: 10px 15px;
        background: $color-orange-pastel;
        border: 0 none;
        cursor: pointer;
        border-radius: 5px 5px 5px 5px;
        color: $color-base;

        &:hover {
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.705);
            transition: box-shadow 0.5s ease 0s;
    
        }
    
        &:not(:hover) {
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0);
            transition: box-shadow 0.5s ease 0s;
        }
    }

    p {
        padding-bottom: 30px;
    }

    img {
        padding-top: 20px;
        max-width: 100px;
        width: fit-content;
        height: auto;
    }

    a {
        padding: 10px;
        background-color: $color-orange;
        border-radius: 6px;

        &:hover {
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.705);
            transition: box-shadow 0.5s ease 0s;
    
        }
    
        &:not(:hover) {
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0);
            transition: box-shadow 0.5s ease 0s;
        }
    }

}

