.products-container {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 40px;
}

.search-product {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: $color-base;
    border: $color-green-pastel solid;
}

.product {
    border-radius: 5px;
    background-color: $color-green-pastel;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    min-width: 200px;
    min-height: 300px;
    max-width: 200px;
    max-height: fit-content;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px 6px 0 0;
    }

    &:hover {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.705);
        transition: box-shadow 0.5s ease 0s;

    }

    &:not(:hover) {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0);
        transition: box-shadow 0.5s ease 0s;
    }
}


