$color-base: white;
$color-orange: #E77441;
$color-orange-pastel: #EAAD87;
$color-green: #47ACA4;
$color-green-pastel: #93C8C4;
$color-beige: #DDC484;
$color-beige-pastel: #F2DCA4;
$color-text-base: #2C2C2C;

/* === FONT WEIGHT === */
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;